
<div>Server Status</div>
<!-- {{filteredStatus}} -->
<input type="text" [(ngModel)]="filteredStatus">
<div *ngFor="let server of servers | filter : filteredStatus : 'offline' " >
  <div [ngClass]="{'serverDecorator': true, 'serverOffline': server.serverStatus === 'offline' }">
    <!-- uppercase pipe -->
    <img src="{{server.imageUrl |  default: 'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg' : true }} " height=30 width=30>|
    <span>{{server.serverName | uppercase}}</span>| 
    <span>{{server.serverType | lowercase}}</span>|
    <span>{{server['serverStatus']}}</span>|  
    <!-- date pipe -->
    <!-- <span>{{server['serverCreated'] | date : 'medium'}}</span>| -->
    <span>{{server['serverCreated'] | date : 'shortDate' }}</span>|
    <!-- <span>{{server['serverCreated'] | date : 'fullDates' }}</span>| -->
    <!-- <span>{{server['serverCreated'] | date : 'shortTime' }}</span>| -->
    <!-- <span>{{server['serverCreated'] | date : 'd/M/y' }}</span>| -->
    <!-- currency pipe -->
    <span>{{server['cost'] | currency : 'CAD' : 'code' }}</span>
  </div>
  
</div>
<button [ngClass]="{'addButton': true}" (click)="addServer()">Add server</button>

<!-- decimal pipe -->

<!-- <span>{{41.1245678 | number:'4.1-5'}}</span> -->

<!-- json pipe -->
<!-- <div>{{servers | json}}</div> -->

<!-- lowercase pipe -->
<!-- <span>{{'DEVELOPER' | uppercase}}</span> -->
<!-- uppercase pipe -->
<!-- <span>{{'developer' | uppercase}}</span> -->
<!-- percent -->
<!-- <span>{{'0.123456' | percent: '3.2-3'}}</span> -->
<!-- splie pipe -->
<!-- <span>{{[1,2,3,4,5,6] | slice:2:3}}</span> -->
